.banner {
  width: 100%;
  height:100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  a{
    &:hover{
      text-decoration: none;
      color: $color-dark;
      
    }
  }
}

.overlay{
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  background-color: $overlay;
  color: $color-light;
  h2{
    font-size: 3rem;
  }
  p{
    font-size: 1.5rem;
  }
.container{
  height: 100%;
}
.row{
  height: 100%;
}
}