
.navbar{
  background-color: $color-dark !important;
  border-color: $color-natura;
  box-shadow: 0px 3px 3px -1px $color-natura;
  a{
  // font-family: $font1;
  font-size: 1.2rem;
  color: $color-white;
  text-decoration: none;
  text-transform: uppercase;
  &:hover{
    color: $color-natura;
}
  }
  img{
  width: 57px;
  height: 52px;
  }
  span{
    border-bottom: none;

  }
}

