@media only screen and (max-width: 768px) {

.family .container {
    height: 350px;
}
.about__natura .container img {
    width: 100%;
    height: 300px;
}

.btn-warning{
    a{
        font-size: 1rem;
&:hover{
    color: $color-white;
}
    }
}
.logoNatura img {
    width: 100%;
}
.cards .card__icon {
    font-size: 200px;
}


.form-contact {
    padding: 30px; 
}

.cards__grid{
    display: flex;
    flex-direction: column;
}

.card__overlay{
    padding-top:1.5rem;
    opacity: 1;
    height: 40%;
  

}
.noHover{
    pointer-events: none;

}

.container__contact ul li .phone{
    background: #4E8FC2;
}
.container__contact ul li .wp{
    background: #00A356;
}
}
@media only screen and (max-width: 578px) {

.container__contact {

    ul li {
        width: 150px;
    }
    
}
}